<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zerock.mapper.ReplyMapper">
      <insert id="insert">
          insert into tbl_reply(rno,bno,reply,replyer)
          values (seq_reply.nextval,#{bno},#{reply},#{replyer})
      </insert>
      
      <select id="getList" resultType="org.zerock.domain.ReplyVO">
      select * from tbl_reply where bno=#{bno} order by rno    
      </select>
      
       <select id="newreplylist" resultType="org.zerock.domain.ReplyVO">
       SELECT *
		from tbl_reply
		where TO_char(updatedate,'YY/MM/DD')=TO_CHAR(SYSDATE,'YY/MM/DD')   
      </select>
      
      <update id="update">
      update TBL_REPLY set reply=#{reply},updatedate=sysdate
      where rno=#{rno}
      </update>
      
      <delete id="delete">
      delete tbl_reply where rno=#{rno}
      </delete>
      
      <select id="get" resultType="org.zerock.domain.ReplyVO">
      select * from tbl_reply where rno=#{rno} 
      </select>
      
      <select id="count"   resultType="org.zerock.domain.ReplyVO">
       select count(*) from tbl_reply  where bno=#{bno} 
      </select>     
	
	<select id="bnoCount" resultType="long">
		select count(DISTINCT bno) from tbl_reply
	</select>
      

    
</mapper>
	


	
	